<h1>Wpisy</h1>

Ten blog ma <%= Article.public_count %> wpisów i je liczy!

<ul>
    <% @articles.each do |article| %>
            <li>
                <%= link_to article.title, article %>
            </li>
    <% end %>
</ul>

<%= link_to "Nowy wpis", new_article_path %>
