<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
    <li><%= link_to "Edytuj", edit_article_path(@article) %></li>
    <li><%= link_to "Usuń wpis", article_path(@article),
                    method: :delete,
                    data: { confirm: "Czy aby na pewni?" } %></li>
</ul>
